
<h1>About</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis iusto eaque odit minima, suscipit dolorum a aspernatur, fugit perspiciatis repellat tempore delectus, amet vitae nihil! Culpa at quae officiis ab praesentium repellendus, sequi reprehenderit placeat cum, eveniet iste mollitia quas iusto enim sed voluptate eius exercitationem provident, soluta porro magni illum quod obcaecati. Dicta, pariatur repellat dolore distinctio, voluptatibus, saepe minima qui laboriosam illum vel eius sit velit quas at labore molestiae quam quaerat accusamus. Praesentium necessitatibus voluptas alias perspiciatis aspernatur recusandae iste, voluptatum ipsa, officiis, unde delectus assumenda ab. Ab, deserunt dolore veritatis molestiae? Placeat saepe magnam maxime inventore!</p>
<hr>

<div *ngFor= "let post of posts">
	<h3>{{post.title}}</h3>
	<p>{{post.body}}</p>
</div>

